@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
/* Указываем box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Gilroy-Medium';
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.container {
    width: 950px;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
}


/*-----------------------------------------------------------*/

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header-nav-list-item a {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    color: #828282;
}

.header-nav-list-item a:focus {
    color: #070707;
}

.header-navigation {
    border-bottom: 2px solid rgba(130, 130, 130, 0.5);
    padding-bottom: 32px;
    padding-top: 33px;
    margin-bottom: 39px;

}

.header-main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.my-name-div {
    width: 124px;

}

.heading-two {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.my-name {
    font-family: 'Gilroy-Bold';
    font-size: 47px;
    color: #070707;
    line-height: 59px;
}

.small-info {
    width: 156px;
    color: #070707;
    text-align: left;
}

.select-language-btn {
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

.full-text-in-btn {
    text-align: right;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.active-lang {
    color: #000;
}

.header-my-photo {
    margin-bottom: 104px;
}

.about-me-items {
    width: 485px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.first-block-about {
    padding-top: 27px;
}

.second-block-about {
    padding-top: 37px;
    width: 400px;
}

.third-block-about {
    padding-top: 37px;
    width: 315px;
}

.about-me {
    background: #F6F6F6;
    padding: 120px 0 107px 0;
}

.skills-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-programs-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skills-programs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.stars-list {
    display: flex;
    width: 166px;
    justify-content: space-between;

}

.skills {
    padding: 91px 0 110px 0;
}

.skills-text h2 {
    margin-bottom: 69px;
}


.skills-text {
    margin-bottom: 82px;
}

.skills-programs-item figcaption {
    width: 80px;
    margin: 27px 0 41px 0;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.non_active svg {
    fill: #E5E5E5;
}

.portfolio {
    background: #F6F6F6;
    padding-top: 113px;
}

.portfolio-list-item figcaption {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    padding-top: 45px;
}

.portfolio-list-item {
    padding-bottom: 99px;
}

.portfolio-items h2 {
    margin-bottom: 47px;
}

footer {
    padding: 114px 0 123px 0;
}

.footer-items {
    width: 342px;
    margin: 0 auto;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
}

.link-me {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 46px;
}

.footer-items h2 {
    margin-bottom: 20px;
}

.welcom {
    margin-bottom: 30px;
}

.footer-items button {
    margin-bottom: 86px;
    background-color: #070707;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border-radius: 30px;
    padding: 12px 30px 12px 30px;
}